*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url(/Assets/purple-background.webp);
}

.card{
    margin: 0 auto;
}

.flex-btns{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.material-symbols-outlined:hover{
  font-variation-settings:
  'FILL' 1,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}