*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url(/Assets/purple-background.webp);
}

.card{
    margin: 8% auto;
}

.card-body{
    height: 300px;
}

.card-text{
    padding: 0;
    font-size: 0.7em;
}

.card img{
    height: 200px;
}

.flex-btns{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.material-symbols-outlined:hover{
  font-variation-settings:
  'FILL' 1,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

.card:hover{
    transform: scale(1.2) translate(5%);
    transition-duration: 0.7s;
    box-shadow: 5px 5px 10px;
}